<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>emoticons</key>
	<array>
		<dict>
			<key>display</key>
			<string>[亲亲]</string>
			<key>png</key>
			<string>亲亲.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>display</key>
			<string>[便便]</string>
			<key>png</key>
			<string>便便.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>display</key>
			<string>[偷笑]</string>
			<key>png</key>
			<string>偷笑.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>display</key>
			<string>[傲慢]</string>
			<key>png</key>
			<string>傲慢.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>display</key>
			<string>[再见]</string>
			<key>png</key>
			<string>再见.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>display</key>
			<string>[发怒]</string>
			<key>png</key>
			<string>发怒.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>display</key>
			<string>[可爱]</string>
			<key>png</key>
			<string>可爱.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>display</key>
			<string>[吐]</string>
			<key>png</key>
			<string>吐.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>display</key>
			<string>[嘘]</string>
			<key>png</key>
			<string>嘘.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>display</key>
			<string>[大哭]</string>
			<key>png</key>
			<string>大哭.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>display</key>
			<string>[委屈]</string>
			<key>png</key>
			<string>委屈.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>display</key>
			<string>[害羞]</string>
			<key>png</key>
			<string>害羞.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>display</key>
			<string>[尴尬]</string>
			<key>png</key>
			<string>尴尬.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>display</key>
			<string>[得意]</string>
			<key>png</key>
			<string>得意.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>display</key>
			<string>[微笑]</string>
			<key>png</key>
			<string>微笑.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>display</key>
			<string>[心]</string>
			<key>png</key>
			<string>心.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>display</key>
			<string>[心裂]</string>
			<key>png</key>
			<string>心裂.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>display</key>
			<string>[惊恐]</string>
			<key>png</key>
			<string>惊恐.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>display</key>
			<string>[惊讶]</string>
			<key>png</key>
			<string>惊讶.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>display</key>
			<string>[憨笑]</string>
			<key>png</key>
			<string>憨笑.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>display</key>
			<string>[抓狂]</string>
			<key>png</key>
			<string>抓狂.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>display</key>
			<string>[抠鼻]</string>
			<key>png</key>
			<string>抠鼻.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>display</key>
			<string>[撇嘴]</string>
			<key>png</key>
			<string>撇嘴.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>display</key>
			<string>[擦汗]</string>
			<key>png</key>
			<string>擦汗.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>display</key>
			<string>[敲打]</string>
			<key>png</key>
			<string>敲打.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>display</key>
			<string>[汗]</string>
			<key>png</key>
			<string>汗.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>display</key>
			<string>[流泪]</string>
			<key>png</key>
			<string>流泪.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>display</key>
			<string>[炸弹]</string>
			<key>png</key>
			<string>炸弹.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>display</key>
			<string>[猪头]</string>
			<key>png</key>
			<string>猪头.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>display</key>
			<string>[疑问]</string>
			<key>png</key>
			<string>疑问.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>display</key>
			<string>[白眼]</string>
			<key>png</key>
			<string>白眼.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>display</key>
			<string>[睡]</string>
			<key>png</key>
			<string>睡.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>display</key>
			<string>[示爱]</string>
			<key>png</key>
			<string>示爱.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>display</key>
			<string>[耍酷]</string>
			<key>png</key>
			<string>耍酷.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>display</key>
			<string>[色]</string>
			<key>png</key>
			<string>色.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>display</key>
			<string>[花]</string>
			<key>png</key>
			<string>花.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>display</key>
			<string>[菜刀]</string>
			<key>png</key>
			<string>菜刀.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>display</key>
			<string>[衰]</string>
			<key>png</key>
			<string>衰.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>display</key>
			<string>[调皮]</string>
			<key>png</key>
			<string>调皮.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>display</key>
			<string>[鄙视]</string>
			<key>png</key>
			<string>鄙视.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>display</key>
			<string>[酷]</string>
			<key>png</key>
			<string>酷.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>display</key>
			<string>[阴险]</string>
			<key>png</key>
			<string>阴险.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>display</key>
			<string>[难过]</string>
			<key>png</key>
			<string>难过.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>display</key>
			<string>[呲牙]</string>
			<key>png</key>
			<string>呲牙.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>display</key>
			<string>[胜利]</string>
			<key>png</key>
			<string>胜利.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
	</array>
</dict>
</plist>
